<% layout("/listings/layout/boilerplate.ejs") %>

<div class="error-illustration text-center">
  <img src="/images/working-on-it.jpg" alt="Error Illustration"
    style="width: 70%; height: 70vh; object-fit: contain;">
  
</div>