<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook" style="color: #0056d6;"></i>
            <i class="fa-brands fa-square-instagram" style="color: #ff4013;"></i>
            <i class="fa-brands fa-google" style="color: #7a7a7a;"></i>
        </div>
        <div class="f-info-brand">&copy;Tanush Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>&nbsp;|&nbsp;
            <a href="/terms">Terms & Condition</a>
        
        </div>
    </div>
</footer>